{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--ESTILOS CSS-->

    <link rel="stylesheet" type="text/css" href="{% static 'css/GerenteGeneral/EstiloReportes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/headerYfooter/estilos.css' %}">
    <title>Reportes</title>
  </head>

  <body>
     <!-- Encabezado -->
     {% include 'GerenteGeneral/encabezado.html' %}

     <br><br>
     <!-- Cuerpo --> 
    <header>
      <div class="container-fluid">
        <div class="user-header">
          <ul>
            <li>
              <div class="container-fluid d-flex justify-content-start" id="cabeza">
                <p class="d-flex justify-content-center" style="font-family:Cambria">
                  <img src="../static/img/Logo.png" class="img-fluit mt-1 offset-4 rounded-circle " alt="..." width="45">
                  <strong>Domus</strong>
                </p>
              </div>
            </li>
            <li class="column mt-3">
              <div class="dropdown d-flex justify-content-end">
                <button class="btn btn-primary text-dark dropdown-toggle font-weight-bold" type="button" id="ButtonUser" data-bs-toggle="dropdown" aria-expanded="false">
                  Usuario
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="{% url 'internauta_Principal' %}">Salir</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="main-header">
        <li class="row">
          <nav class="navbar navbar-expand-lg navbar-light" >
           <a class="navbar-brand btn-lg font-weight-bold" href="{% url 'GerenteGeneral_Principal' %}" id="ButtonNav">Principal</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active btn-lg font-weight-bold" href="{% url 'GerenteGeneral_Inmuebles' %}" id="ButtonNav">Catálogo<span class="sr-only">(current)</span></a>
              <div class="dropdown">
                <button class="btn dropdown-toggle text-dark btn-lg font-weight-bold" type="button" id="dropTarea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tareas
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <a class="dropdown-item" href="{% url 'GerenteGeneral_Reportes' %}">Reportes</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
       </li>
        </div>
     </div>
    </header>
    <!-- Cuerpo --> 
    <div class="container">
      <h1 class="text-center mb-4">Reportes generados</h1>
      <div class="row mt-4" id="cuerpo"> <!--Buscador-->
          <div class="col-sm" id="columna">
            <div class="row">
              <label for="FechaMin" class="col-3" id="label">FechaMin</label>
              <input class="col" type="date" placeholder="DD/MM/AAAA" id="entrada">
            </div>
          </div>
          <div class="col-sm" id="columna">
              <div class="row">
                <label for="FechaMax" class="col-3">FechaMax</label>
                <input class="col" type="date" placeholder="DD/MM/AAAA" id="entrada">
              </div>
          </div>
          <div class="col-sm" id="columna">
            <div class="row">
              <select class="form-select" aria-label="Default select example" id="entrada">
                <option selected>Tipo</option>
                <option value="1">Venta</option>
                <option value="2">Alquiler</option>
                <option value="3">Clientes</option>
                <option value="4">Propiedades</option>
              </select>
            </div>
          </div>
      </div>
      <br>
      <div> <!--Tabla-->
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Descripción</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col" class="text-center">Fecha emision</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td colspan="3">Ventas anuales</td>
                <td class="text-center">06/05/2021</td>
                <td class="text-end">
                  <a href="#" class="btn" id="boton">Descargar</a>
                  <a href="../Informes/ReporteVentasAnual.pdf" class="btn" id="boton">Imprimir</a>
                </td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td colspan="3">Alquileres anuales</td>
                <td class="text-center">06/05/2021</td>
                <td class="text-end">
                  <a href="#" class="btn" id="boton">Descargar</a>
                  <a href="../Informes/ReporteAlquileresAnual.pdf" class="btn" id="boton">Imprimir</a>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <br>
  
    <br><br><br>
    <!--Pie de Página-->
    {% include 'pie_pagina.html' %}
  
  
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <script src="{% static 'css/bootstrap/js/jquery-3.6.0.min.js' %}"></script>
     <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
  
</html>