{% load static %}
<!doctype html>
<html lang="en">

  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--ESTILOS CSS-->
  

    <link rel="stylesheet" type="text/css" href="{% static 'css/headerYfooter/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/General/Inputs/entradas.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Secretaria/Estilos.css' %}">
    <title>Aceptar Solicitud</title>

  </head>
  

  <body>
    <!-- Encabezado -->
    {% include 'Secretaria/encabezado.html' %}

    <br><br>
    <!-- Cuerpo --> 
    <div class="container"> 
        <!--Tabla-->
        <div class="table-responsive">
            <table class="table">
                <thead id="tabla">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Lugar</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td>Pepe Argento</td>
                        <td>
                            <ul>
                                <li>31/05/2021</li>
                                <li>01/06/2021</li>
                                <li>0./06/2021</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>8:00 - 10:30</li>
                                <li>15:00 - 19:00</li>
                                <li>8:00 - 11:30</li>
                            </ul>
                        </td>
                        <td>Jose Hernandez 758</td>
                        <td>0362-123789</td>
                        <td>elpepe@gmai.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr id="separador">
        <h1 id="horarios" class="text-center">Horarios disponibles</h1>
        <div class="row mt-4 text-center">
            <div class="col">
                <label for="Fecha">Fecha: </label>
                <input type="date" placeholder="DD/MM/AAAA" id="entrada">
            </div>
        </div>
        <div class="row mt-3">
          <!--Tabla-->
         <div class="table-responsive">
            <table class="table">
                <thead id="tabla">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Hora</th>
                        <th scope="col">Agente disponible</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <!--Fila 1-->
                    <tr>
                        <th scope="row"></th>
                        <td>10:00</td>
                        <td>Agente 1</td>
                        <td>
                            <a href="{% url 'Secretaria_Solicitudes' %}" type="submit" class="btn" id="botonE" onclick="Alerta()">Agregar cita</a>
                        </td>
                    </tr>
                    <!--Fila 2-->
                    <tr>
                        <th scope="row"></th>
                        <td>10:00</td>
                        <td>Agente 2</td>
                        <td>
                            <a href="{% url 'Secretaria_Solicitudes' %}" type="submit" class="btn" id="botonE" onclick="Alerta()">Agregar cita</a>
                        </td>
                    </tr>
                    <!--Fila 3-->
                    <tr>
                        <th scope="row"></th>
                        <td>10:30</td>
                        <td>Agente 3</td>
                        <td>
                            <a href="{% url 'Secretaria_Solicitudes' %}" type="submit" class="btn" id="botonE" onclick="Alerta()">Agregar cita</a>
                        </td>
                    </tr>
                </tbody>
            </table>
         </div>
         <div class="row">
            <div class="col text-center">
                <a href="{% url 'Secretaria_Solicitudes' %}" class="btn" id="botonE" onclick="return confirm('Esta seguro de cancelar la solicitud')">Cancelar</a>
            </div>
         </div>
       </div>
    </div>
   

    <footer>
   
        <br><br><br>
    <!--Pie de Página-->
    {% include 'pie_pagina.html' %}
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'css/bootstrap/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        function Alerta() {
            alert('Se ha agendado la cita correctamente')
        }
    </script>
</body>
  
</html>