<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    {% load crispy_forms_tags %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--ESTILOS CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/headerYfooter/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/General/Inputs/entradas.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Secretaria/Estilos.css' %}">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <title>Editar Cita</title>
  </head>

  <body>
    <!-- Encabezado -->
    {% include 'encabezado.html' %}
    <!-- Cuerpo -->
    <div class="container col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded-start">
      <br>
      <div class="text-center">
        <h1>Modificar cita de cliente: <strong>{{cita.cliente.first_name}} {{cita.cliente.last_name}}</strong></h1>
      </div>
      <div class="row">
          <form action="{% url 'editar_cita' cita.id %}" method="POST">
            {% csrf_token %}
              <p>Agente: {{ form.agente|as_crispy_field }}</p>
              <p>Día: {{ form.dia|as_crispy_field }}</p>
              <p>Hora: {{ form.hora|as_crispy_field }}</p>
              <div class="text-center">
                <button type="submit" id="botonE" class="btn btn-danger btn-lg ml-3 mt-3" name="button">Confirmar</button>
                <a class="btn btn-primary btn-lg ml-3 mt-3" href="{% url 'turnos_dados' %}">Cancelar</a>
              </div>
          </form>
          {% for message in messages %}
          <div class="alert alert-danger mx-auto mt-3" style="width: 350px;" role="alert">
            <div class="text-center">
              {{ message }}
              <a class="btn-close" style="margin-left:10px;padding-left:10px" href="" data-dismiss="alert"></a>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>


    <br><br><br>

    <!--Pie de Página-->
    {% include 'pie_pagina.html' %}
    <script>
      $(function () {
        $("#id_dia").datepicker({
          format:'yyyy/mm/dd',
        });
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>

  </body>
</html>
