<!-- Encabezado -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top shadow" style="background-color: #ffc852;">
    <a class="navbar-brand fs-1" href="{% url 'index' %}">
        <img src="../static/img/logo.svg" alt="Logo Domus" width="100" height="100"
            class="d-inline-block align-text-center">
        Domus
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="navbar-nav ms-auto text-center">
            {% if user.tipo == "ADMINISTRADOR" %}

            <a class="nav-link fs-5" href="#"><u>Bienvenido, {{ user.username }}</u></a>
            <a class="nav-link fs-5" href="#"><u>rol: {{ user.tipo }}</u></a>
            <div class="dropdown">
                <a class="nav-link fs-5 dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Tareas
                </a>
                <ul class="dropdown-menu text-center" style="background-color: #ffc852; border: none;"
                    aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item p-5" href="{% url 'AdministradorWeb_agregar_usuario' %}">Añadir
                            Usuario</a></li>
                    <li><a class="dropdown-item" href="{% url 'AdministradorWeb_EliminarUsuario' %}">Eliminar
                            Usuario</a></li>
                </ul>
            </div>

            <a class="nav-link active fs-5" aria-current="page" href="{% url 'AdministradorWeb_Principal' %}">Inicio</a>
            <a class="nav-link fs-5" href="{% url 'AdministradorWeb_Inmuebles' %}">Catálogo</a>
            <a class="nav-link fs-5" href="{% url 'logout' %}"><u>logout</u></a>
        </div>
        <div class="d-flex flex-row justify-content-center">
            {% elif user.tipo == "CLIENTE" %}

            <nav class="navbar navbar-expand-lg navbar-light sticky-top shadow" style="background-color: #ffc852;">
                <a class="navbar-brand fs-1" href="{% url 'index' %}">
                    <img src="../static/img/logo.svg" alt="Logo Domus" width="100" height="100"
                        class="d-inline-block align-text-center">
                    Domus
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <div class="navbar-nav ms-auto text-center">
                        <a class="nav-link active fs-5" aria-current="page"
                            href="{% url 'ClienteRegistrado_Principal' %}">Inicio</a>
                        <a class="nav-link fs-5" href="{% url 'ClienteRegistrado_Inmuebles' %}">Catálogo</a>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link active btn-lg font-weight-bold" href="#"
                                    id="ButtonNav">Quienes somos<span class="sr-only">(current)</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <a href="{% url 'login' %}" class="btn btn-outline-dark me-2 ms-2 fs-5">Iniciar Sesión</a>
                        <a href="{% url 'internauta_register' %}" class="btn btn-dark fs-5">Registrarse</a>
                    </div>
                </div>
            </nav>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-dark me-2 ms-2 fs-5">Iniciar Sesión</a>
            <a href="{% url 'internauta_register' %}" class="btn btn-dark fs-5">Registrarse</a>
            {% endif %}
        </div>
    </div>
</nav>