   <!--Pie de Página-->
   <footer class="w-100 d-flex align-items-center justify-content-center flex-wrap" style="background-color: #ffc852;">
    <p class="fs-5 px-3 pt-2 text-center mt-2">Domus. &copy; Todos Los Derechos Reservados 2021</p>
    <div>
      <a href="#"><i class="bi bi-facebook fs-3" style="color: black;"></i></a>
      <a href="#"><i class="bi bi-instagram fs-3 mx-2" style="color: black;"></i></a>
      <a href="#"><i class="bi bi-twitter fs-3" style="color: black;"></i></a>
    </div>
  </footer>

  
  