{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <!--ESTILOS CSS-->

   <link rel="stylesheet" type="text/css" href="{% static 'css/headerYfooter/estilos.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/General/Inputs/entradas.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/JefaAdministracion/Estilos.css' %}">
    <title>Reportes</title>
    
  </head>

  <body>
    <!-- Encabezado -->
    {% include 'encabezado.html' %}

    <br><br>
    <!-- Cuerpo --> 
    <div class="container">
      <h1 class="text-center">Generar reportes</h1>
      <div class="row mt-5">
        <label for="FechaMin" class="col text-center">FechaMin</label>
        <input class="input col" type="date" placeholder="DD/MM/AAAA">
        
        <label for="FechaMax" class="col text-center">FechaMax</label>
        <input class="input col" type="date" placeholder="DD/MM/AAAA">
        
        <div class="col text-center">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Caja de ventas</label>
        </div>
        
        <div class="col text-center">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Caja de alquileres</label>
        </div>

        <div class="col text-center">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">Entradas/Salidas</label>
        </div>
      </div>
      <br>
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr class="encabezado" id="tabla">
                      <th scope="col"></th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Caja</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Hora</th>
                      <th scope="col">Monto</th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row"></th>
                      <td>Entrada</td>
                      <td>Alquiler</td>
                      <td>26/05/2021</td>
                      <td>10:22</td>
                      <td>$10000</td>
                  </tr>
                  <tr>
                      <th scope="row"></th>
                      <td>Entrada</td>
                      <td>Alquiler</td>
                      <td>28/05/2021</td>
                      <td>17:38</td>
                      <td>$10000</td>
                  </tr>
                  <tr>
                      <th scope="row"></th>
                      <td>Salida</td>
                      <td>Venta</td>
                      <td>30/05/2021</td>
                      <td>8:27</td>
                      <td>$17000</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <hr id="separador">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="row">
            <div class="col-4 text-center">
              <h4>Total de transacciones</h4>
              <h5>Nro transacciones</h5>
            </div>
            <div class="col text-center">
              <h4>Total ingresos</h4>
              <h5>Total en $</h5>
            </div>
            <div class="col text-center">
              <h4>Total egresos</h4>
              <h5>Total en $</h5>
            </div>
            <div class="col text-center">
              <h4>Total general</h4>
              <h5>Total en $</h5>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row mt-4 justify-content-center">
        <div class="col text-center">
          <button class="btn" id="botonE">Confirmar</button>
          <a href="{% url 'JefaAdministracion_Principal' %}" class="btn" id="botonE" onclick="Cancelar()">Cancelar</a>
        </div>
      </div>
    </div>
  
    <br><br><br>
    <!--Pie de Página-->
    {% include 'pie_pagina.html' %}
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'css/bootstrap/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>>
    <script>
      function Cancelar() {alert('No se ha generado el informe')}
    </script>
  </body>
  
</html>