{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--ESTILOS CSS-->

    
    <link rel="stylesheet" type="text/css" href="{% static 'css/headerYfooter/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/General/Inputs/entradas.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/JefaComercializacion/Estilos.css' %}">
    <title>Historico de clientes</title>
  </head>
  
 <body>
    <!-- Encabezado -->
    {% include 'encabezado.html' %}

    <br><br>
    <!-- Cuerpo --> 
    <div class="container">
        <h1 class="text-center">Listado historico de clientes</h1>
        <div class="row mt-4 justify-content-center">
            <div class="col text-center">
              <a href="{% url 'JefaComercializacion_Actuales' %}" type="submit" class="btn" id="botonE">Actuales</a>
              <a href="{% url 'JefaComercializacion_Antiguos' %}" type="submit" class="btn" id="botonE">Antiguos</a>
              <a href="{% url 'JefaComercializacion_ClientesHistorico' %}" type="submit" class="btn" id="botonE">Historico</a>
            </div>
        </div>
        <hr id="separador">
        <div class="table-responsive">
            <!--Tabla-->
            <table class="table">
                <thead id="tabla">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nombre y Apellido</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <!--Fila 1-->
                    <tr>
                        <th scope="row"></th>
                        <td>Tito Fantin</td>
                        <td>Corporativo</td>
                        <td>0362-753219</td>
                        <td>titof@gmail.com</td>
                        <td>
                            <button class="btn" id="botonE" data-bs-toggle="modal" data-bs-target="#Detalles">Detalles</button>
                        </td>
                    </tr>
                    <!--Fila 2--> 
                    <tr">
                        <th scope="row"></th>
                        <td>Juan Perez</td>
                        <td>Particular</td>
                        <td>0362-965723</td>
                        <td>juan@hotmail.com</td>
                        <td>
                            <button class="btn" id="botonE" data-bs-toggle="modal" data-bs-target="#Detalles">Detalles</button>
                        </td>
                    </tr> 
                    <!--Fila 3--> 
                    <tr>
                        <th scope="row"></th>
                        <td>Don Ramón</td>
                        <td>Particular</td>
                        <td>0362-745126</td>
                        <td>donramon@gmail.com</td>
                        <td>
                            <button class="btn" id="botonE" data-bs-toggle="modal" data-bs-target="#Detalles">Detalles</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal fade" id="Detalles" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title col text-center" id="exampleModalLabel">Detalles del movimiento</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label for="Fecha" class="form-label-sm">Nombre:</label>
                        </div>
                        <div class="row">
                            <label for="Hora" class="col-form-label-sm">Apellido:</label>
                        </div>
                        <div class="row">
                            <label for="mas">Faltan mas datos, base de datos</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn col text-center" id="botonE" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'css/bootstrap/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
  
  <br><br><br>
    <!--Pie de Página-->
    {% include 'pie_pagina.html' %}
  
  
</html>