
    <!-- Encabezado -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top shadow" style="background-color: #ffc852;">
      <a class="navbar-brand fs-1" href="{% url 'index' %}">
        <img src="../static/img/logo.svg" alt="Logo Domus" width="100" height="100" class="d-inline-block align-text-center">
        Domus
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="navbar-nav ms-auto text-center">
        <a class="nav-link active fs-5" aria-current="page" href="{% url 'JefaComercializacion_Principal' %}">Inicio</a>
        <a class="nav-link fs-5" href="{% url 'JefaComercializacion_Inmuebles' %}">Catálogo</a>
        <div class="dropdown">
          <a class="nav-link fs-5 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Tareas
          </a>
          <ul class="dropdown-menu text-center" style="background-color: #ffc852; border: none;" aria-labelledby="dropdownMenuLink">

            <li><a class="dropdown-item" href="{% url 'JefaComercializacion_Agenda' %}">Agendas</a></li>
            <li><a class="dropdown-item" href="{% url 'JefaComercializacion_Reportes' %}">Generar reportes</a></li>
            <li><a class="dropdown-item" href="{% url 'JefaComercializacion_Propiedades' %}">Listado de propiedades</a></li>
            <li><a class="dropdown-item" href="{% url 'JefaComercializacion_Clientes' %}">Archivo de clientes</a></li>

          </ul>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <a href="{% url 'login' %}" class="btn btn-outline-dark me-2 ms-2 fs-5">Iniciar Sesión</a>
        <a href="{% url 'internauta_register' %}" class="btn btn-dark fs-5">Registrarse</a>
      </div>
      </div>
    </nav>

<!-- ESTA PARTE DEL CODIGO HACE REFERENCIA AL ENCABEZADO DE AGENTE INMOBILIARIO
  
  <header>

  <header>
    <div class="container-fluid">
      <div class="user-header">
        <ul>
          <li>
            <div class="container-fluid d-flex justify-content-start" id="cabeza">
              <p class="d-flex justify-content-center" style="font-family:Cambria">
                <img src="../static/img/Logo.png" class="img-fluit mt-1 offset-4 rounded-circle " alt="..." width="45">
                <strong>Domus</strong>
              </p>
            </div>
          </li>
          <li class="column mt-3">
            <div class="dropdown d-flex justify-content-end">
              <button class="btn btn-primary text-dark dropdown-toggle font-weight-bold" type="button" id="ButtonUser" data-bs-toggle="dropdown" aria-expanded="false">
                Usuario
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'internauta_Principal' %}">Salir</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="main-header">
      <li class="row">
        <nav class="navbar navbar-expand-lg navbar-light" >
         <a class="navbar-brand btn-lg font-weight-bold" href="{% url 'JefaComercializacion_Principal' %}" id="ButtonNav">Principal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active btn-lg font-weight-bold" href="{% url 'JefaComercializacion_Inmuebles' %}" id="ButtonNav">Catálogo<span class="sr-only">(current)</span></a>
            <div class="dropdown">
              <button class="btn dropdown-toggle text-dark btn-lg font-weight-bold" type="button" id="dropTarea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tareas
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" href="{% url 'JefaComercializacion_Agenda' %}">Agendas</a>
                <a class="dropdown-item" href="{% url 'JefaComercializacion_Reportes' %}">Generar reportes</a>
                <a class="dropdown-item" href="{% url 'JefaComercializacion_Propiedades' %}">Listado de propiedades</a>
                <a class="dropdown-item" href="{% url 'JefaComercializacion_Clientes' %}">Archivo de clientes</a>
                <div class="main-header">">Archivo de clientes</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
     </li>
      </div>
   </div>
  </header>
   </header> -->