{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--ESTILOS CSS-->
        
    <link rel="stylesheet" type="text/css" href="{% static 'css//headerYfooter/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/General/Inputs/entradas.css' %}">
  
    <title>Propiedad</title>
  </head>
  

  <body>
    <!-- Encabezado -->
    {% include 'AdministradorWeb/encabezado.html' %}

    <!-- Cuerpo --> 
    <br><br>
  <div class="container">
    <!--Primera fila-->
    <div class="row">
      <div class="col-lg-6">
        <img src="https:/via.placeholder.com/500x400/" class="card-img" alt="...">
      </div>
      <div class="col-lg-6">
        <div class="row">
            <h2><b>Una casa mediana</b></h2>
        </div>
        <br>
        <div class="col-sm">
          <h4>Codigo Inmueble: 1251</h4>
          <h4>Tipo de Inmueble: Casa</h4>
          <h4>Opciones de contrato: Venta</h4>
          <h4>Cantidad de ambientes: 5</h4>
          <br>
          <div class="row text-start">
            <div class="col-md-4">
              <h4>Dormitorios: 2</h4>
            </div>
            <div class="col-md-3">
              <h4>Baños: 1</h4>
            </div>
            <div class="col-md-5">
              <h4>Precio: $2.000.000</h4>
            </div>
          </div>
          <br>
          <h4>Direccion: Av. San Maritn 856, Resistencia, Chaco</h4>
          <div class="row">
            <div class="col text-center">
              <a href="https://www.google.com/maps/place/Av.+San+Mart%C3%ADn+856,+H3504EJA+Resistencia,+Chaco/@-27.4615719,-58.9920113,17z/data=!3m1!4b1!4m5!3m4!1s0x94450c9333b63f87:0xc284443d177f5cb3!8m2!3d-27.4615719!4d-58.9898226" target="_blank" role="button" class="bnt btn-link text-dark">Ver mapa</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!--Segunda fila-->
    <div class="conteiner">
      <div class="row">
        <div class="col-md-1">
          <img src="https:/via.placeholder.com/50x50/" class="card-img" alt="...">
        </div>
        <div class="col-md-1">
          <img src="https:/via.placeholder.com/50x50/" class="card-img" alt="...">
        </div>
        <div class="col-md-1">
          <img src="https:/via.placeholder.com/50x50/" class="card-img" alt="...">
        </div>
        <div class="col-md-1">
          <img src="https:/via.placeholder.com/50x50/" class="card-img" alt="...">
        </div>
        <div class="col-md-1">
          <img src="https:/via.placeholder.com/50x50/" class="card-img" alt="...">
        </div>
        <div class="col-md-1">
          <img src="https:/via.placeholder.com/50x50/" class="card-img" alt="...">
        </div>
        <div class="col-sm-3">
          <h5>Propietario: Pepe Argento</h5>
          <h5>Nro. Propietario: 0180</h5>
          <h5>Tipo: Particular</h5>
        </div>
        <div class="col-sm-3">
          <h5>DNI Propietario: 35.489.612</h5>
          <h5>teléfono: 0362-123456</h5>
          <h5>Email: elpropietario@gmail.com</h5>
        </div>
      </div>
    </div>

    <!--Otras Propiedades-->
    <div id="separador">
      <hr>
      <h1 class="text-center" id="rojo">Otras Propiedades</h1>
    </div>
    <div class="row">
      <br>
      <div class="col-sm">
        <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark" height="200" width="200">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'AdministradorWeb_DatosPropiedad' %}" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
        </div>
      </div>
      <div class="col-sm">
        <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark" height="200" width="200">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'AdministradorWeb_DatosPropiedad' %}" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
        </div>
      </div>
      <div class="col-sm">
        <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark" height="200" width="200">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'AdministradorWeb_DatosPropiedad' %}" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
        </div>
      </div>
      <div class="col-sm">
        <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark" height="200" width="200">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'AdministradorWeb_DatosPropiedad' %}" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <!--Pie de Página-->
  {% include 'pie_pagina.html' %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="{% static 'css/bootstrap/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
  <!--Pie de Página-->
  
</html>