<div class="dropdown">
  <a class="nav-link fs-5 dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
  data-bs-toggle="dropdown" aria-expanded="false">
  Tareas
</a>
<ul class="dropdown-menu text-center" style="background-color: #ffc852; border: none;"
aria-labelledby="dropdownMenuLink">
<li><a class="dropdown-item p-2" href="{% url 'AdministradorWeb_agregar_usuario' %}">Añadir
  Usuario</a></li>
  <li><a class="dropdown-item p-2" href="{% url 'AdministradorWeb_EliminarUsuario' %}">Eliminar
    Usuario</a></li>
  </ul>
</div>
