{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Carga de inmueble</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!--ESTILOS CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/AgenteInmobilario/EstilosAgenda.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/headerYfooter/estilos.css' %}">

</head>

<body>
 <!-- Encabezado -->
 {% include 'encabezado.html' %}

 <br><br>
 <!-- Cuerpo -->
  <div class="container">
     <h1 class="primary" id="ButtonAgendah1">Cargar propiedad</h1>
     <form class="needs-validation">
         <div class="form-row">
             <label class="form-label" for="tipo" name="tipo" required>Seleccionar el tipo de la propiedad: </label>
             <select name="tipo">
                 <!-- TODO pasar a javascript -->

                 <option value="DEPARTAMENTO">DEPARTAMENTO</option>

                 <option value="CASA">CASA</option>

                 <option value="CHALET">CHALET</option>

                 <option value="LOCAL">LOCAL</option>

                 <option value="CASA_CON_LOCAL">CASA_CON_LOCAL</option>

                 <option value="CABANA">CABANA</option>

                 <option value="COCHERA">COCHERA</option>
             </select>
             <div class="valid-feedback">
                 Looks good!
             </div>
         </div>
         <h3>Ubicacion</h3>
         <div class="row">
             <div class="form-group  needs-validation col-3">
                 <label class="form-label" for="pais">Pais: </label>
                 <input class="form-control" list="pais" name="pais" class="form-control" required id="pais">
                 <datalist id="pais">


                     <option value="Argentina">Argentina</option>

                     <option value="Uruguay">Uruguay</option>

                     <option value="Otros">Otros</option>


                 </datalist>
                 <div class="valid-feedback">
                     Looks good!
                  </div>
                 <div class="invalid-feedback">
                      Mal
                 </div>
             </div>
             <div class="form-group col-3" id="provincias">
                 <label class="form-label" for="provincia">Provincia: </label>
                 <input class="form-control" name="provincia" class="form-control">
             </div>
             <div class="form-group col-3">
                 <label class="form-label" for="localidad">Localidad: </label>
                 <input class="form-control" name="localidad" required>
                 <div class="valid-feedback">
                     Looks good!
                 </div>
                 <div class="invalid-feedback">
                     Mal
                 </div>
              </div>
              <div class="form-group col-3">
                 <label class="form-label" for="CP">CP: </label>
                 <input class="form-control" name="CP" type="number">
             </div>
         </div>
         <h4>Direccion</h4>
         <div class="row">
             <div class="form-group col-8">
                 <label class="form-label" for="calle">Calle</label>
                 <input class="form-control" name="calle">
             </div>
             <div class="form-group col-2">
                 <label class="form-label" for="piso">Piso</label>
                 <input class="form-control" name="piso" type="number" min="0" max="100">
             </div>
             <div class="form-group col-2">
                 <label class="form-label" for="numero">Numero</label>
                 <input class="form-control" name="numero">
             </div>
         </div>
         <h4>Datos generales</h4>
         <div class="row">
             <div class="form-group col-4">
                 <label class="form-label" for="antiguedad">Antiguedad</label>
                 <input class="form-control" name="antiguedad" type="number">
             </div>
             <div class="form-group col-4">
                 <label class="form-label" for="Artefactos">Artefactos</label>
                 <input class="form-control" name="Artefactos" type="number">
             </div>
             <div class="form-group col-4">
                 <label class="form-label" for="ambientes">Ambientes</label>
                 <input class="form-control" name="ambientes" type="number">
             </div>
          </div>
          <div class="row">
             <div class="form-group col-4">
                 <label class="form-label" for="banios">Cant. de baños</label>
                 <input class="form-control" name="banios" type="number">
             </div>
             <div class="form-group col-4">
                 <label class="form-label" for="dormintorios">Cant. de dormitorios</label>
                 <input class="form-control" name="dormintorios" type="number">
             </div>
             <div class="form-group col-4">
                 <label class="form-label" for="suite">Cant. de suite</label>
                 <input class="form-control" name="suite" type="number">
             </div>
         </div>
         <label class="form-label" for="desc"> Ingrese una descripcion corta</label>
         <input class="form-control" name="desc">
         <br>
         <label class="form-label" for="descripcion"> Ingrese una descripcion larga.</label>
         <textarea class="form-control" name="descripcion"></textarea>

         <h4>Propietarios</h4>
         <label class="form-label" name="propietario">Propietario: </label>
         <input class="form-control" list="propietarios" name="propietario">
         <datalist id="propietarios">

             <option value="Juan Perez">Juan Perez</option>

             <option value="Nuevo">Nuevo</option>

         </datalist>

         <h4>Contrato</h4>
         <div class="row">
             <div class="form-group col-6">
                 <label class="form-label" for="contrato">Seleccione el tipo de contrato:</label>
                 <select name="contrato">

                     <option value="Alquiler">Alquiler</option>

                     <option value="Venta">Venta</option>

                 </select>
             </div>
             <div class="form-group col-6">
                 <label class="form-label" for="precio">Precio: </label>
                 <input class="form-control" name="precio" type="number">
             </div>
         </div>
         <button type="submit" class="btn btn-primary">Enviar</button>
     </form>

     <script>
         // Example starter JavaScript for disabling form submissions if there are invalid fields
         (function () {
           'use strict'

         // Fetch all the forms we want to apply custom Bootstrap validation styles to
         var forms = document.querySelectorAll('.needs-validation')

         // Loop over them and prevent submission
         Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
         })()

          // function generar(elemento, json){
         //     Object.entries(json).forEach(element => {
         //         var elementoHijo = document.createElement('OPTION')
         //         elementoHijo.setAttribute('value', element.name)
         //         elementoHijo.setAttribute('text', element.name)
         //         elemento.appendChild(elementoHijo)
         //     });
         // }
     </script>
  </div>
  <footer>
     <!-- JS -->

     <br><br><br>
  <!--Pie de Página-->
  {% include 'pie_pagina.html' %}


 <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 <script src="{% static 'css/bootstrap/js/jquery-3.6.0.min.js' %}"></script>
 <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
