    <!-- Agente inmobiliario TAREAS -->
<div class="dropdown">
  <a class="nav-link fs-5 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Tareas
  </a>
  <ul class="dropdown-menu text-center" style="background-color: #ffc852; border: none;" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="{% url 'agenteInmobiliario_Agenda' %}">Agenda</a></li>
    <li><a class="dropdown-item" href="{% url 'agenteInmobiliario_carga' %}">Nueva propiedad</a></li>
  </ul>
</div>
