
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Inmuebles</title>
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--ESTILOS CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/headerYfooter/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Cajera/EstiloModal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/General/Inputs/entradas.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/General/Catálogo/EstiloCatalogo.css' %}">
    </head>
  </body>
   <!-- Encabezado -->
   {% include 'cajera/encabezado.html' %}

   <br><br>
   <!-- Modal -->
   <div class="modal fade" id="EntradasSalidas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title col text-center" id="exampleModalLabel">Cargar un movimiento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
          <div class="modal-body">
            <div class="row" id="row">
                <div class="col">
                  <label for="Fecha" class="row form-label form-label-sm">Fecha</label>
                  <input type="date" class="row form-control form-control-sm" id="validationCustom01" placeholder="DD/MM/AAAA">
                </div>
                <div class="col">
                  <label for="Hora" class="row form-label form-label-sm">Hora</label>
                  <input type="time" class="row form-control form-control-sm" id="validationCustom01" placeholder="00:00">
                </div>
            </div>
            
            <div class="row mt-3" id="row">
                <div class="col">
                  <div class="row">
                    <label for="monto" class="col-sm-3 col-form-label col-form-label-sm">Monto</label>
                    <div class="col-sm">
                        <input type="number" class="input col form-control form-control-sm" id="validationCustom01" required>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <select class="input form-select form-select-sm" id="validationCustom01" required>
                    <option selected disabled value="">Tipo</option>
                    <option value="1">Entrada</option>
                    <option value="2">Salida</option>
                  </select>
                </div>
            </div>
            <div class="row justify-content-center mt-3" id="row">
              <label for="concepto" class="col-sm-2 col-form-label col-form-label-sm">Concepto</label>
              <div class="col-sm">
                  <input type="text" class="input form-control form-control-sm" id="validationCustom01" required>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn col text-center" id="botonE" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn col text-center" id="botonE">Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
    <body>
      <div class="container">
        <div class="row offset-2 col-md-8 "> <!--fila 1-->
          <div class="col-sm">
            <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark" height="200" width="200">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="DatosPropiedad.html" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
            </div>
          </div>
          <div class="col-sm">
            <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="DatosPropiedad.html" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
            </div>
          </div>
          <div class="col-sm">
            <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="DatosPropiedad.html" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="row offset-2 col-md-8 mt-5 "> <!--fila 2-->
            <div class="col-sm">
              <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="DatosPropiedad.html" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
              </div>
            </div>
            <div class="col-sm">
              <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="DatosPropiedad.html" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
              </div>
            </div>
            <div class="col-sm">
              <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="DatosPropiedad.html" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
              </div>
            </div>
        </div>
        <div class="row offset-2 col-md-8 mt-5 "> <!--fila 3-->
          <div class="col-sm">
            <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="DatosPropiedad.html" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
            </div>
          </div>
          <div class="col-sm">
            <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="DatosPropiedad.html" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
            </div>
          </div>
          <div class="col-sm">
            <img src="https:/via.placeholder.com/200x200/" alt="..." class="img-thumbnail rounded mx-auto d-block border border-dark">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="DatosPropiedad.html" class="btn btn-light font-weight-bold border border-dark" style="background-color:rgb(211, 84, 0)">Go somewhere</a>
            </div>
          </div>
        </div>
        <br>
        <div class="col text-center">
          <div class="btn-group" role="group">
            <button class="btn" id="atras">Anterior</button>
            <button class="btn" id="avanzar">Siguiente</button>
          </div>
        </div>
      </div>
  
      <br><br><br>
    <!--Pie de Página-->
    {% include 'pie_pagina.html' %}
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'css/bootstrap/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>

    

</html>