{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--ESTILOS CSS-->
  

    <link rel="stylesheet" type="text/css" href="{% static 'css/Cajera/EstilosTransacciones.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/headerYfooter/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Cajera/EstiloModal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/General/Inputs/entradas.css' %}">
    <title>Movimientos</title>
    
  </head>

  <body>
   <!-- Encabezado -->
   {% include 'cajera/encabezado.html' %}

   <br><br>
   <!-- Modal -->
   <div class="modal fade" id="EntradasSalidas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title col text-center" id="exampleModalLabel">Cargar un movimiento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
          <div class="modal-body">
            <div class="row" id="row">
                <div class="col">
                  <label for="Fecha" class="row form-label form-label-sm">Fecha</label>
                  <input type="date" class="row form-control form-control-sm" id="validationCustom01" placeholder="DD/MM/AAAA">
                </div>
                <div class="col">
                  <label for="Hora" class="row form-label form-label-sm">Hora</label>
                  <input type="time" class="row form-control form-control-sm" id="validationCustom01" placeholder="00:00">
                </div>
            </div>
            
            <div class="row mt-3" id="row">
                <div class="col">
                  <div class="row">
                    <label for="monto" class="col-sm-3 col-form-label col-form-label-sm">Monto</label>
                    <div class="col-sm">
                        <input type="number" class="input col form-control form-control-sm" id="validationCustom01" required>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <select class="input form-select form-select-sm" id="validationCustom01" required>
                    <option selected disabled value="">Tipo</option>
                    <option value="1">Entrada</option>
                    <option value="2">Salida</option>
                  </select>
                </div>
            </div>
            <div class="row justify-content-center mt-3" id="row">
              <label for="concepto" class="col-sm-2 col-form-label col-form-label-sm">Concepto</label>
              <div class="col-sm">
                  <input type="text" class="input form-control form-control-sm" id="validationCustom01" required>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn col text-center" id="botonE" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn col text-center" id="botonE">Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
   <!-- Cuerpo --> 
  
    <div class="container">
      <h1 class="text-center">Movimientos</h1>
      <div class="row mt-5 text-center">
        <label for="FechaMin" class="col-4">FechaMin</label>
        <input type="date" placeholder="DD/MM/AAAA" class="input col" id="buscar">
        <label for="FechaMax" class="col-4">FechaMax</label>
        <input type="date" placeholder="DD/MM/AAAA" class="input col" id="buscar">
      </div>

      <div class="table-responsive mt-4">
        <table class="table">
            <thead id="tabla">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Caja</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Monto</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>Entrada</td>
                    <td>Alquiler</td>
                    <td>26/05/2021</td>
                    <td>10:22</td>
                    <td>$10000</td>
                    <td>
                        <button class="btn" id="botonE" data-bs-toggle="modal" data-bs-target="#Detalles">Detalles</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Entrada</td>
                    <td>Alquiler</td>
                    <td>28/05/2021</td>
                    <td>17:38</td>
                    <td>$10000</td>
                    <td>
                        <button class="btn" id="botonE" data-bs-toggle="modal" data-bs-target="#Detalles">Detalles</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Salida</td>
                    <td>Venta</td>
                    <td>30/05/2021</td>
                    <td>8:27</td>
                    <td>$17000</td>
                    <td>
                        <button class="btn" id="botonE" data-bs-toggle="modal" data-bs-target="#Detalles">Detalles</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="modal fade" id="Detalles" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title col text-center" id="exampleModalLabel">Detalles del movimiento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <label for="Fecha" class="form-label-sm">Fecha:</label>
                  </div>
                  <div class="row">
                      <label for="Hora" class="col-form-label-sm">Hora:</label>
                  </div>
                  <div class="row">
                      <label for="mas">Faltan mas datos, base de datos</label>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn col text-center" id="botonE" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  
    <br><br><br>
    <!--Pie de Página-->
    {% include 'pie_pagina.html' %}
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'css/bootstrap/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>

</body>

</html>